.header-logo {
    background-color: transparent;
}
.cross > * {
    background-color: rgba(255, 255, 255, 0.199);
}
.disclaimer > * {
    color: rgba(255, 255, 255, 0.37);
}
.bg-gradient {
    height: 30vw;
}
#header-article  {
    width: 80vw;
    margin-top: 1vw;
    margin-left: 15vw;
}
#header-article h1 {
    font-weight: bold;
    font-size: 5vw;    
    text-transform:uppercase;
    padding-bottom: 0;
}
#header-article h2 {
    font-weight: normal;
    font-size: 1.5vw;    
    color:rgb(255, 208, 0);
    line-height: 0;
    /* font-family: 'Roboto', sans-serif; */

}

article {
    width: 40vw;
    margin: 5vw 5vw 5vw 15vw;
    text-align: justify;
}

article iframe {
    margin: 2vw 0;
    width: 40vw;
    height: 20vw;
}