.header-logo {
    background-color: transparent;
}
.cross > * {
    background-color: rgba(255, 255, 255, 0.199);
}
.disclaimer > * {
    color: rgba(255, 255, 255, 0.37);
}
.bg-gradient {
    height: 30vw;
}
#header-article  {
    margin-left: 15vw;
    padding-top: 8vw;
    width: 85vw;
}
#header-article h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 3vw;    
    line-height: 0.5;
}

#header-article h2 {
    line-height: 0;
    font-weight: normal;
}

#article-illustration {
    position: absolute;
    right: 0;
    background:url(https://res.cloudinary.com/we-are-theroom/image/upload/v1621376358/home/118695470_315019576474403_8385762060569558762_n_qgwuo3.jpg) no-repeat center/cover;
    width: 100%;
    height: 30vw;
    z-index: -999;
}

article {
    margin: 25vw 5vw 5vw 15vw;
}