@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@font-face {
    font-family: "Helvetica Ultra Compressed";
    src: url("fonts/HelveticaLTStd-ExtraComp.otf") format("truetype");
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
body {
    background: black;
    color:white;
    font-family: 'Montserrat', sans-serif;
    animation: fadein 2s;
}

a {
    color: inherit;
    text-decoration: inherit;
}
h2 {
    font-family: 'Roboto', sans-serif;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.transparent {
    background: none !important;
}
.no-padding {
    padding: 0 !important;
}
.bw1 {
    border-width: 1px !important;
}
.bw2 {
    border-width: 2px !important;
}
.mr1 {
    margin-right: 10px !important;
}
.mr2 {
    margin-right: 20px !important;
}
.mr3 {
    margin-right: 30px !important;
}
.mt2 {
    margin-top: 20px !important;
}
.relative  {
    position: relative;
}
.center {
    text-align: center;
}

nav {
    position: absolute;
    right: 2vw;
    display: flex;
    top:1.5vw;
}
#menuToggle {
    margin-left: 20px;
}
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
}

img.cover {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    object-fit: cover;
    position: relative;
}

.grid-container {
    display: grid;
    grid-template-columns: 3fr 1.6fr;
    grid-template-rows: 1.9fr;
    gap: 0px 0px;
    grid-template-areas: "left-container right-container";
}

.bg-gradient {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, #0d0d0d8c 66.11%);
    mix-blend-mode: normal;
    z-index: -1;
    position: absolute;
}
.blackoverlay {
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.20);
    opacity: 1;
}
#background {
    background: #000;
    position: relative;
    z-index: -99;
}

/**
Gauche
*/
.left-container {
    grid-area: left-container;
    padding-right: 20px;
    display: flex;
}
header {
    /* margin-bottom: 40px; */
    color: #4d4c4c;
}
.header-logo {
    background: url(images/logo.png) no-repeat black;
    width: 200px;
    height: 2vw;
    background-size: 7vw;
    position:relative;
    z-index: 999;
    position: absolute;
    left:0.7vw;
    top:0.7vw;
}

.cross {
    z-index: 1;
}

.cross-horizontal{
    width: 6.7vw;
    height: 1px;
    background-color: #4d4c4c;
    top: 3vw;
    left: 0px;
    position: absolute;
}
.cross-vertical{
    width: 1px;
    height: 95%;
    background-color: #4d4c4c;
    top: 0px;
    left: 3vw;
    position: absolute;
}

.disclaimer {
    position: absolute;
    top:3.9vw;
    left:3.2vw;
    height:500px;
    font-size:0.5vw;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.disclaimer strong {
    font-size: 0.6vw;
    display: block;
    padding-left: 5px;
}

/**
Catégories
*/
.categories-container {
    margin-top: 3.1vw;
    margin-left: 7vw;
    width:100%;
    display: flex;
    justify-content: space-evenly;
}

.block-categorie img {
    display: block;
    height: 90vh;
}

.categorie-title {
    position: absolute;
    left:0;
    top:-1vw;
    font-size: 2vw;
    width: 100%;
    text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.747);
    font-family: "Helvetica Ultra Compressed", 'Roboto', sans-serif;
    z-index: 999;
}

.hover {
    position: absolute;
    background: black;
    opacity: 0.33;
    width: 100%;
    height: 100%;
    z-index: 998;
    display: none;
}


/**
Droite
*/
.right-container {
    grid-area: right-container;
    grid-template-areas: "title-artists artists title-agenda agenda";
    grid-template-columns: 0.1fr 0.3fr 0.1fr 0.5fr;
    display: grid;
    position: fixed;
    right: 0;
    width: 34.7%;
    height: 100%;
}

.block {
    border-radius: 40px;
    background: #1D1D1D;
    padding: 1vw 2vw 1vw 2vw;
    text-align: center;
    position: relative;
}
.block.border {
    border:5px solid #141414;
}
.block-title {
    text-align: left;
}
.round {
    background: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: 8px solid #707070;
    margin: auto;
    margin-bottom: 5px;
}

.title-artists {
    background:url(images/artistes-title.png);
    background-size: contain;
    background-repeat: no-repeat;
    grid-area: title-artists;
    height:100vh;
}

.right-container .artists {
    grid-area: artists;
    position: relative;
    margin-top: -50px;
    margin-left: -2vw;
}

.right-container .artists .block {
    width: 8vw;
    height: 8vw;
    margin: auto;
    padding: 0;
    position: relative;
}
.right-container .artists .block:hover img {
    transition: .3s ease;
    opacity: 0.3;
}
.right-container .artists .block:hover .middle {
    opacity: 1;
}

.right-container .artists .middle {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.right-container .artists .text {
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.right-container .title-agenda {
    grid-area: title-agenda;
    background:url(images/agenda-title.png) no-repeat;
    background-size: contain;
    height:100vh;
}

.right-container .agenda {
    grid-area: agenda;
    margin-right: 20px;
}
.right-container .agenda .block {
    text-align: justify;
    font-size: 0.8vw;
    /* padding:1vw; */
}

.right-container .agenda .block h2 {
    font-size: 1vw;
}
.right-container .agenda .block h3 {
color:black; background-color: white; border-radius: 40px; padding: 5px 15px;
}


/*=====================================
                Footer
======================================*/
footer {
    width: 100%;
    text-align: center;
    font-size: 10px;
    margin: 10vw 0 2vw 0;
    color: #7b7b7b;
    text-transform: uppercase;
    letter-spacing: 2px;
}

footer a {
    text-decoration: none;
    color: #fff;
    outline-style:none;
}

/*=====================================
            Mentions légales
======================================*/

.popup#legal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -12%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.4);
    background: black;
    padding: 50px;
    letter-spacing: 0;
    width: 40%;
    left: 42%;
}
.popup#legal a.close {
    margin-bottom: 20px;
    color: white;
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
}
.popup#legal h3 {
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    font-size: 30px;
    letter-spacing: -0.6px;
    color: #FFFFFF;
    text-align: left;
    font-family: 'HankenSans-ExtraBold';
    padding-bottom: 10px;
}

/*=====================================
            Animations
======================================*/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translatey(-10px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}